streamlit
langchain==0.2.0
langchain-community==0.2.0
sentence-transformers
faiss-cpu
transformers==4.39.3 # Pin this version
torch==2.7.1 # Pin this version (or the latest stable that installs correctly for MPS)
accelerate==0.29.3
llama-cpp-python